In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:maximus1988@localhost:3306/united_nationns

'Connected: root@united_nationns'

In [4]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/united_nationns
1 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93'), None)]

In [6]:
%%sql

CREATE TABLE united_nationns.Geographic_Location (
    Country_name VARCHAR (37)PRIMARY KEY,
    Region VARCHAR (25),
    Sub_region VARCHAR (32),
    Land_area NUMERIC (10,2)
)
FROM
    Access_to_Basic_Services
GROUP BY 
    Country;

 * mysql+pymysql://root:***@localhost:3306/united_nationns
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM\n    Access_to_Basic_Services' at line 7")
[SQL: CREATE TABLE united_nationns.Geographic_Location (
    Country_name VARCHAR (37)PRIMARY KEY,
    Region VARCHAR (25),
    Sub_region VARCHAR (32),
    Land_area NUMERIC (10,2)
)
FROM
    Access_to_Basic_Services;]
(Background on this error at: http://sqlalche.me/e/f405)