<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Join statements
© ExploreAI Academy

In this exercise,  we will explore different SQL `JOIN` statements in order to cross-examine data contained in multiple tables in a dataset.

> ⚠️ In this exercise, we will query a sample SQLite database file called Chinook to gain some insight into the data. Ensure that you have downloaded the database file, `chinook.db`.

## Learning objectives

In this train, we will learn how to:
- Join multiple tables.
- Find common information between tables.
- Use a `LEFT JOIN` to check for missing information.
- Use `CROSS JOIN` to find all the possible combinations of required table rows.

First, let's load our sample database:

In [ ]:
# load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook
%load_ext sql

# Load the Chinook database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///chinook.db

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///chinook.db

'Connected: @chinook.db'

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/The%20chinook%20database%20ERD.jpeg"/>
<br>
<br>
    <em>Figure 1: The Chinook database ERD</em>
</div>

## Overview
Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Sometimes artists add a title track to their albums. This is a track that has the same title as the album. Write a query that returns albums that have a title track.
Return rows in the AlbumId column from the albums table, Title from the albums table, and the Name from the tracks table, where the album table Title column matches the tracks table Name column.

In [ ]:
# Add your code here

### Exercise 2

Suppose that in the previous exercise, we were additionally interested in knowing who the artists of the listed albums are. Write a query that can achieve this.

In [ ]:
# Add your code here

### Exercise 3

One use case for a `LEFT JOIN` is that it can be used to check for missing information. In this case, try to find out what media items have not been bought yet (i.e. are not an item in any invoice).

In [ ]:
# Add your code here

### Exercise 4

In the results, the tracks that have a value of `None` (i.e. `NULL`) for `InvoiceId` are the ones that have not been purchased yet. Add a `WHERE` clause to only focus on these 'unpopular' tracks.

In [ ]:
# Add your code here

### Exercise 5

Let's suppose that, as part of a new business strategy, Chinook wants to develop new product categories for their media items that are based on genre and media type. Write a query that will list all possible product categories (i.e. all possible genre and media type combinations).

In [ ]:
# Add your code here

## Solutions

### Exercise 1

In [3]:
%%sql

SELECT 
    a.AlbumId, 
    a.Title AS "Album Title", 
    t.Name AS "Track Name"
FROM 
    albums a
INNER JOIN 
    tracks AS t
    ON a.Title = t.Name
LIMIT 10;  -- Remove this line to see the full query output

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: albums
[SQL: SELECT
    a.AlbumId,
    a.Title AS "Album Title",
    t.Name AS "Track Name"
FROM
    albums a
INNER JOIN
    tracks AS t
    ON a.Title = t.Name
LIMIT 10;  -- Remove this line to see the full query output]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Exercise 2

In [ ]:
%%sql

SELECT 
    a.AlbumId, 
    a.Title AS "Album Title", 
    t.Name AS "Track Name", 
    ar.Name AS "Artist Name"
FROM 
    albums AS a
INNER JOIN 
    tracks AS t
    ON a.Title = t.Name
INNER JOIN 
    artists AS ar
    ON ar.ArtistId = a.ArtistId
LIMIT 10;  -- Remove this line to see the full query output

Return rows in the `AlbumId` from the `albums` table, `Title` from the `albums` table, the `Name` from the `tracks` table, and the `Name` from the `artists` table, where the `albums` table `Title` column matches the `tracks` table `Name` column, and the `artists` table `Name` column where the `artists` table `ArtistId` is equal to the `albums` table `ArtistId`.

### Exercise 3

In [ ]:
%%sql

SELECT 
    t.TrackId, 
    ii.InvoiceId
FROM 
    tracks t
LEFT JOIN 
    invoice_items ii
    ON t.TrackId = ii.TrackId
LIMIT 10;  -- Remove this line to see the full query output

### Exercise 4

In [ ]:
%%sql

SELECT 
    t.TrackId, 
    ii.InvoiceId
FROM 
    tracks AS t
LEFT JOIN 
    invoice_items AS ii
    ON t.TrackId = ii.TrackId
WHERE ii.InvoiceId IS NULL
LIMIT 10;  -- Remove this line to see the full query output

### Exercise 5

In [ ]:
%%sql

SELECT 
    g.Name AS "Genre", 
    m.Name AS "Media Type"
FROM 
    genres AS g
CROSS JOIN 
    media_types AS m
LIMIT 10;  -- Remove this line to see the full query output